/* navbar section */

.homepage-section{
	padding-right: 8px;
}

/* jumbotron section */

.jumbotron-section{
	padding: 60px;
	background-color: #f5b041;

}

/* card page */

.card-section{
    padding: 60px;
	background-color: coral;
}

/* body color */
.body-section{
	background-color: coral;
}

.head-section{
	padding:60px;
	
}

.cards-section{
	padding: 60px;
}

.color-section{
	background-color: #17A589;
}

.notification-section{
	padding-left: 8px;
}


.fromc{
	margin: auto;
}

.spacing{
	width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}