/* navbar section */

.homepage-section{
	padding-right: 8px;
}

/* jumbotron section */

.jumbotron-section{
	padding: 60px;
	

}

/* card page */

.card-section{
    padding: 30px;
	background-color: #D5E7CC;
}

/* body color */
.body-section{
	background-color: coral;
}

.head-section{
	padding: 60px;
	margin: auto;
}

.cards-section{
	padding: 60px;
}

.color-section{
	background-color: #B8C2B9;
}

.notification-section{
	padding-left: 8px;
}


.fromc{
    background-color: #E8ECB4;
	margin: auto;
}

 .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
  
  .logout{
	margin: auto;
}
  